@import 'tailwindcss';

/* Default border colors. */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Default button */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/** Theming */
@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(20, 14.3%, 4.1%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(20, 14.3%, 4.1%);
    --popover: hsl(0, 0%, 100%);
    --primary: rgb(59, 130, 246);
    --primary-dark: rgb(37, 99, 235);
    --primary-foreground: rgb(96, 165, 250);
    --secondary: hsl(60, 4.8%, 95.9%);
    --secondary-dark: hsl(60 4.8% 82%);
    --secondary-foreground: hsl(24, 9.8%, 10%);
    --muted: hsl(60, 4.8%, 95.9%);
    --muted-foreground: hsl(25, 5.3%, 44.7%);
    --accent: hsl(60, 4.8%, 95.9%);
    --accent-foreground: hsl(24, 9.8%, 10%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(60, 9.1%, 97.8%);
    --border: hsl(20, 5.9%, 90%);
    --input: hsl(20, 5.9%, 90%);
    --ring: #dda440;
    --radius: 0.5rem;
    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
  }

  .dark {
    --background: hsl(20, 14.3%, 4.1%);
    --foreground: hsl(60, 9.1%, 97.8%);
    --card: hsl(20, 14.3%, 4.1%);
    --card-foreground: hsl(60, 9.1%, 97.8%);
    --popover: hsl(20, 14.3%, 4.1%);
    --popover-foreground: hsl(60, 9.1%, 97.8%);
    --primary: #dda440;
    --primary-dark: #bc6823;
    --primary-foreground: hsl(60, 9.1%, 97.8%);
    --secondary: hsl(12, 6.5%, 15.1%);
    --secondary-dark: hsl(12 6.5% 13%);
    --secondary-foreground: hsl(60, 9.1%, 97.8%);
    --muted: hsl(12, 6.5%, 15.1%);
    --muted-foreground: hsl(24, 5.4%, 63.9%);
    --accent: hsl(12, 6.5%, 15.1%);
    --accent-foreground: hsl(60, 9.1%, 97.8%);
    --destructive: hsl(0, 72.2%, 50.6%);
    --destructive-foreground: hsl(60, 9.1%, 97.8%);
    --border: hsl(12, 6.5%, 15.1%);
    --input: hsl(12, 6.5%, 15.1%);
    --ring: #dda440;
    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
  }
}

/** Inline is needed for nextjs, idk why */
@theme inline {
  --font-epilogue: 'Epilogue';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-radius: var(--radius);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --text-xxs: 0.65rem;
  /* --line-height-xxs: 1rem; */
  --max-width-8xl: 100rem;
  --max-width-9xl: 110rem;

  --animate-in: animate-in 100ms ease-in-out;
  --animate-out: animate-out 100ms ease-in-out;

  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animate-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

/* Portfolio-specific stuff. */
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    'Epilogue',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* START: HeroLetter */
.hero-letter {
  transition-duration: 500ms;
  transform: TranslateY(0px);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-letter-bg {
  transition-duration: 800ms;
  transform: TranslateY(0px);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-letter:hover {
  transition-duration: 100ms;
  transform: TranslateY(-0.375rem);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* END: HeroLetter */
.nucleus:hover ~ .orbit {
  @apply transition-all duration-300;
  width: 12rem !important;
  height: 12rem !important;
}

.project-card {
  @apply h-full;
}

@media (min-width: 768px) {
  .project-card:nth-child(1) {
    @apply pt-40;
  }

  .project-card:nth-child(4) {
    @apply pb-40;
  }
}

@media (max-width: 1450px) {
  .side-nav {
    @apply hidden;
  }
}

@media (max-width: 1024px) {
  .hero-text {
    font-size: 12vw;
  }
}

/* Animations */
.fade-in {
  animation: fadeIn 1000ms forwards;
  animation-delay: 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-card-image-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project-card-image-highlight::before {
  content: '';
  background: white;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  position: absolute;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card-wrapper:hover .project-card-image-highlight::before {
  content: '';
  border-radius: 100%;
  position: absolute;
  animation: circleAppear forwards 800ms;
}

.project-card-image-highlight::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0rem solid #f9fafb;
  transition: 250ms ease-out;
  /* will-change: border; */
}

.project-card-wrapper:hover .project-card-image-highlight::after {
  content: '';
  position: absolute;
  border: 0.5rem solid #f9fafb;
  transition: 250ms ease-out;
  /* will-change: border; */
}

@keyframes circleAppear {
  0% {
    opacity: 0%;
    width: 0px;
    height: 0px;
  }
  30% {
    opacity: 10%;
    width: 50rem;
    height: 50rem;
  }
  100% {
    opacity: 0%;
    width: 80rem;
    height: 80rem;
  }
}

/* .will-change-transform {
  will-change: transform;
}

.will-change-height {
  will-change: height;
}

.will-change-auto {
  will-change: auto;
} */

/* ::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #d1d5db;
} */

.secondary-btn {
  @apply relative z-10 border border-blue-500 bg-transparent bg-clip-padding px-6 py-3 text-sm text-blue-500 backdrop-blur-sm backdrop-filter transition ease-out select-none hover:bg-blue-500 hover:text-white md:text-base;
}
