@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nucleus:hover ~ .orbit {
  @apply transition-all duration-300;
  width: 12rem !important;
  height: 12rem !important;
}

.project-card {
  @apply h-full;
}

@media (min-width: 768px) {
  .project-card:nth-child(1) {
    @apply pt-40;
  }

  .project-card:nth-child(4) {
    @apply pb-40;
  }
}

@media (max-width: 1450px) {
  .side-nav {
    @apply hidden;
  }
}

@media (max-width: 1024px) {
  .hero-text {
    font-size: 12vw;
  }
}

/* Animations */
.fade-in {
  animation: fadeIn 1000ms forwards;
  animation-delay: 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-card-image-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project-card-image-highlight::before {
  content: "";
  background: white;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  position: absolute;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card-wrapper:hover .project-card-image-highlight::before {
  content: "";
  border-radius: 100%;
  position: absolute;
  animation: circleAppear forwards 800ms;
}

.project-card-image-highlight::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0rem solid #f9fafb;
  transition: 250ms ease-out;
}

.project-card-wrapper:hover .project-card-image-highlight::after {
  content: "";
  position: absolute;
  border: 0.5rem solid #f9fafb;
  transition: 250ms ease-out;
}

@keyframes circleAppear {
  0% {
    opacity: 0%;
    width: 0px;
    height: 0px;
  }
  30% {
    opacity: 5%;
    width: 50rem;
    height: 50rem;
  }
  100% {
    opacity: 0%;
    width: 80rem;
    height: 80rem;
  }
}
/* .project-card-image:hover::before {
  content: "";
  background-color: green;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100rem;
  width: 100rem;
  z-index: 10;
  opacity: 100%;
  border-radius: 50%;
  transition: all 1000ms;
} */
